<p class="mb-20">LiveView Application</p>
<%= @number %>
<.button phx-click="add">Add</.button>

<.simple_form class="mt-40" for={@form} phx-submit="adding_more">
    <.input field={@form[:add_amount]} value={@form.params.adding_amount_default} />
    <.button class="w-full">Add More</.button>
</.simple_form>